/* colors palette: muskgreen: #606C38, darkgreen: #283618, White: #FEFAE0, Lightbrown: #DDA15E, Darker brown: #BC6C25 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  max-width: 100svw;
  width: 100svw;
}
body {
  font-family: "Edu NSW ACT Hand Pre", cursive;
  max-width: 100svw;
  max-height: 100svh;
  width: 100svw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
}
.meny {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  background-color: #dda15e;
  max-width: 99%;
  width: 99%;
  flex-wrap: wrap;
  padding: 10px;
}
.meny li {
  color: #fefae0;
}
/* Styling for linkene/meny items med icon */
.meny a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #606c38;
  padding: 15px;
  border-radius: 40%;
}
.meny a:hover {
  transform: scale(1.1);
}
.craftsville-logo {
  display: block;
  max-width: 40svw;
  width: 40svw;
  max-height: 40svh;
  height: 40svh;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 100svw;
}
.workshop-seksjon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 100svw;
}
.workshop-seksjon form,
iframe,
p {
  max-width: 100%;
}
button {
  padding: 10px;
}
textarea {
  resize: none;
  max-width: 100%;
  box-sizing: border-box;
}
.hovedside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 98%;
  gap: 2%;
  background-color: #dda15e;
  color: black;
}
.feedback-form,
.feedback-users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  flex: 1;
  max-width: 100%;
  border: #283618 6px solid;
  padding: 2rem;
}
.feedback-form p h2 {
  word-wrap: break-word;
  white-space: normal;
  max-width: 100%;
}
title-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  height: 100svh;
}
.column img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  flex: 1;
}
figure {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  margin-right: 10%;
}
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80%;
  width: 80%;
}
.back-to-top {
  position: fixed;
  bottom: 1%;
  right: 1%;
  background-color: #283618;
  color: #fefae0;
  padding: 1%;
  border-radius: 100%;
}
.back-to-top a {
  text-decoration: none;
  color: #fefae0;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  bottom: 1%;
  background-color: #283618;
  color: #fefae0;
  padding: 1%;
  margin: 1%;
}
footer a {
  color: #fefae0;
  text-decoration: none;
}
.footer-index {
  position: fixed;
  bottom: 1%;
}
/* Id til select i form for å sette max width 100% så ikke en av options strekker seg langt utover vidden til skjermen  */
#workshop {
  max-width: 100%;
}
.credits-body {
  display: flex;
  flex-direction: column;
}
